.register{
    width: 860px;
    margin: auto;
    padding: 50px 0px;

    form{
        display: flex;
        gap: 100px;


        .left, .right{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: space-between;
            h1{
                font-weight: 500;
                color: var(--color-gray);
                margin-top: 20px;
            }
            .toggle{
              label{
                margin-right: 20px;
              }
            }
            label{
                font-weight: 300;
                color: var(--color-gray);
            }

            input{
                padding: 10px;
                border: 1px solid var(--color-lightgray);
                &:focus{
                    outline: none;
                }
            }
            textarea{
                padding: 10px;
                resize: none;
                 border: 1px solid var(--color-lightgray);
                &:focus{
                    outline: none;
                }
            }
            button{
                background-color: var(--color-dot);
                color: var(--color-white);
                font-weight: 500;
                border: none;
                cursor: pointer;
                font-size: 18px;
                padding:15px ;
         
            }
        }
    }
}