.gigs {
  display: flex;
  justify-content: center;
  .container {
    width: var(--container-width);
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .breadcrumbs {
      font-weight: 300;
      font-size: 13px;
      color: var(--color-gray);
    }
    p {
      color: var(--color-lightgray);
      font-weight: 300;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--color-gray);
        font-weight: 300;
        input {
          padding: 5px;
          border: 1px solid var(--color-lightgray);
          outline: none;

          &::placeholder {
            color: var(--color-gray);
          }
        }

        button {
          background-color: var(--color-dot);
          color: var(--color-white);
          font-weight: 500;
          padding: 5px 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        .sortBy {
            color: var(--color-gray);
            font-weight: 300;
        }
        .sortType {
            font-weight: 600;

        }
        img {
            width: 15px;
            cursor: pointer;
        }
        .rightMenu{
            padding: 20px;
            background-color: var(--color-white);
            border-radius:5px ;
            border: 0.5px solid var(--color-lightgray);
            position: absolute;
            top: 30px;
            right: 0px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: var(--color-gray );
            span{
              cursor: pointer;
            }
        }
      }
    }
    .cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
