.messages{

    display: flex;
    justify-content: center;

    .container{

        width: var(--container-width);
        padding: 50px 0px;

        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        table{
            width: 100%;
            border-collapse: collapse;
            th{
                text-align: left;
            }
            tr{
                height: 100px;

                td{
                padding: 10px; 
                &:first-child{
                    font-weight: 500;
                }

                &:nth-child(2),
                &:nth-child(3){
                    color: var(--color-gray)  ;
                }
                }

                button{
                    background-color: var(--color-dot);
                    color: var(--color-white);
                    padding: 10px;
                    cursor: pointer;
                    border: none;
                }

                &.active{
                    background-color: rgb(237, 245, 237);
    
                  }
    
              
            }
          
           
        }
    }
}